
VITE_PUBLIC_API_URL=
VITE_PUBLIC_SITE_URL=

#CHAT
VITE_PUBLIC_MESSENGER_PAGE_ID=

#TRACKING
VITE_PUBLIC_GOOGLE_TRACKING=
VITE_PUBLIC_SEGMENT_TRACKING=

#S3
VITE_PUBLIC_AWS_S3_END_POINT=http://localhost:9000
VITE_PUBLIC_AWS_S3_BUCKET_NAME=monorepo-template # Must create S3 bucket on MiniO dashboard first (MiniO dashboard can open on link http://localhost:9001)
VITE_PUBLIC_WEBSITE_URL=

