NODE_ENV=development
# APP
HOST=localhost
PORT=3500
LANG_CODE=en-us
APP_ENV=development
# ALLOW ORIGIN
ALLOW_WEB_APP_ORIGIN=https://example.com
ALLOW_ADMIN_PORTAL_ORIGIN=https://portal.example.com
# DOCUMENTS
DOCUMENTATION_ENABLED=true
# HTTP
REQUEST_TIMEOUT=120000
# RATE LIMIT
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
# CACHE
CACHE_TIME_TO_LIVE=900
# AUTH
JWT_SECRET_KEY=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES_IN=7d
OAUTH_FACEBOOK_CLIENT_ID=
OAUTH_FACEBOOK_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
# DEFAULT USER
ADMIN_USER_EMAIL=
ADMIN_USER_PASSWORD=
# DATABASE
DB_URL=postgresql://postgres:postgres@localhost:5435/postgres
# DB_URL=postgresql://postgres:postgres@localhost:5435/postgres?sslmode=require #(for third party database service with ssl)
DB_SCHEMA=public
AP_DB_LOGS=true
# EMAIL
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USERNAME=
EMAIL_PASSWORD=
# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
# AWS
AWS_ENDPOINT=http://localhost:9000
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# S3
AWS_S3_BUCKET_NAME=monorepo-template-bucket
# FIREBASE
FIREBASE_CONFIG='{"type":"service_account","project_id":"your-project-id","private_key_id":"your-private-key-id","private_key":"your-private-key","client_email":"your-client-email","client_id":"your-client-id","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"your-client-cert-url","universe_domain":"googleapis.com"}'